/*-------------------------All pages------------------------------*/
.footer {
	left: 0;
	bottom: 0;
	height: 5em;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
  }
  .inner-ctn{
	height: auto;
	width: 80%;
	text-align: center;
	display: inline-block;
}

  /*----------------------------log in and sign up form-----------------------------------------*/

.main {
	background-color: #FFFFFF;
	width: 400px;
	height: 460px;
	margin: 7em auto;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
	padding-top: 40px;
	color: #8C55AA;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
	padding-top: 40px;
}
.email {
	width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.pass {
		width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
	border: 2px solid rgba(0, 0, 0, 0.18) !important;
	
}

.submit {
  cursor: pointer;
	border-radius: 5em;
	color: #fff;
	background: linear-gradient(to right, #9C27B0, #E040FB);
	border: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 35%;
	font-size: 13px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.signup{
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #E1BEE7;
	padding-top: 15px;
}

b {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #E1BEE7;
	text-decoration: none
}

@media (max-width: 600px) {
	.main {
		border-radius: 0px;
	}
}
/*-------------------index.html----------------------------*/
.ctn .btn {
	position: absolute;
	top: 80%;
	left: 75%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }

  .footer-ctn{
	  background-color: whitesmoke;
  }
  .footer-ctn:btn{
	position: absolute;
	top: 90%;
	left: 50%;
  }
  
/*----------------contact_us.html-------------------*/
.contact-ctn{
	width: 80%;
	height: auto;
}
lottie{
	justify-content: center;
	align-items: center;

}
.col-sm-5{
	height: 500px;
	width: 500px;
	background-color:linear-gradient(to right, #9C27B0, #E040FB);
} 

  
/*-------------discovery1/2.html--------------------*/
  .top-left {
	position: absolute;
	top: 15%;
	left:10%;
	color: white;
	font-size: 20px;
	font-family: 'Oswald'
  }
  .underline{
	position: absolute;
	top: 20%;
	left:10%;
	color: white;
	font-size: 20px;
	font-family: 'Oswald'
  }
  .centered {
	position: absolute;
	top: 50%;
	left: 45%;
	color: white;
	font-size: 70px;
	font-family: 'Oswald'
  }
  .div-2-centered {
	position: absolute;
	top: 48%;
	left: 33%;
	color: white;
	font-size: 70px;
	font-family: 'Oswald'
  }

.pupil-object{
	position: absolute;
    top: 140.5%;
    left: 70.1%;
    font-size: 38px;
	color: red;
}
.iris-object{
	position: absolute;
    top: 118.9%;
    left: 70.1%;
    font-size: 38px;
	color: red;
}
.cornea-object{
	position: absolute;
    top: 239.5%;
    left: 9.8%;
    font-size: 33px;
	color: red;
}
.optic-object{
	position: absolute;
    top: 241.3%;
    left: 77.1%;
    font-size: 37px;
	color: red;
}


/* Aligning elelments at the center */
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  }


/*Leaderboard*/
.container {
	width: 700px; 
	height: 475px;
	background-color:whitesmoke ;
	padding: 20px;
}

.container2
{
	width: 700px; 
	height: 500px;
	background-color:whitesmoke ;
	padding: 20px;
}

.container3
{
	width: 770px; 
	height: 350px;
	background-color:whitesmoke ;
	padding: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Create two uneven columns together*/
/*Two-column container*/
.row {
	display: flex;
	flex-wrap: wrap;
  }
  
  /*Styling Side1 Column*/
  .side1 {
	flex: 30%;
	display: inline-block;
	text-align: center;
  }
  
  /*Styling Side2 Column*/
  .side2 {
	flex: 50%;
	font-size: large;
	padding: 10px;
  }

   /*Styling Side2 Column*/
   .side3 {
	text-align: center;
	flex: 30%;
	padding: 20px;
	background-color: #cda6e2;
	margin-top: 10px;
  }

   /*Styling Side2 Column*/
   .side4 {
	width: 630px;
	padding: 10px;
	margin-top: 10px;

  }

/*Styling Tables*/
.table {
	width: 90%;
	height: 40%;
	margin: auto;
	text-align: left;
}

/*Account*/
.avatar 
{
	border-radius: 70%;
}

/*Cards*/
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 30%;
	border-radius: 14px;
  }

  .card2 {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 50%;
	height: 30%;
	border-radius: 14px;
  }

  .card3 {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 70%;
	height: 30%;
	border-radius: 14px;
	padding: 20px;
  }

  .card5{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 50%;
	height: 30%;
	border-radius: 14px;
	padding: 20px;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .imgCard {
	border-radius: 9px 5px 0 0;
  }
  
  .containerCard {
	padding: 14px 16px;
  }

  /*Game buttons*/

  .button {
	background-color: #E1BEE7; 
	padding: 10px 25px;
	text-align: center;
	transition-duration: 0.4s;
	margin-top: 14px;
	margin-bottom: 14px;
  }
  
  .button:hover {
	background-color: #E1BEE7;
	color: white;
  }
 
