*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: black;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: black;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #010308;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: #0affde;
	transform: translateX(-30%);
}

.btn-signup {
	color: white;
	background: #0affde;
	transform: translateX(30%);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}









/* Aligning elelments at the center */
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  }

  /* Styling the form*/
.form {
	width: 50%;
	padding: 30px;
	margin: auto;
	background-color: grey;
  }

/*Leaderboard*/
.container {
	width: 700px; 
	height: 300px;
	background-color:whitesmoke ;
	padding: 20px;
}

.container2
{
	width: 700px; 
	height: 500px;
	background-color:whitesmoke ;
	padding: 20px;
}

.container3
{
	width: 770px; 
	height: 350px;
	background-color:whitesmoke ;
	padding: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Create two uneven columns together*/
/*Two-column container*/
.row {
	display: flex;
	flex-wrap: wrap;
  }
  
  /*Styling Side Column*/
  .side {
	flex: 30%;
	display: inline-block;
	background-color: gray;
	padding: 15px;
	text-align: center;
  }
  
  /*Styling Main Column*/
  .main {
	flex: 50%;
	background-color:lightgray;
	font-size: large;
	padding: 10px;
  }

/*Styling Tables*/
.table {
	width: 90%;
	height: 40%;
	margin: auto;
	text-align: center;
}
.container-fluid bg-3 text-center {
    padding-top: 70px;
    padding-bottom: 70px;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #bcbebe;
  }
  
  .col-sm-4:hover .overlay {
	opacity: 1;
  }
  .cwcontainer{
	position: absolute;
	bottom: 0; top: 0; left: 0; right: 0;
	text-align: center;
  }
  
  .crosswordDisplay {
	  top: 5rem;
  }
  
  .clueBlock{
	position: relative;
	margin-bottom: 5em;
  }
  .clueDirection{
	  text-align: left;
	  margin: 1em 0 0.25em 122px;
	  font-size: 1.5em;
	  font-weight: bold;
	  color: #000;
  }
  .word, .clue, .lineNum{
	display: inline-block;
	height: 1.4em;  
	padding: 0 5px;
  }
  .word{
	text-align: right;  
	width: 100px;
	margin: 0 20px 0 0;
  }
  .clue{
	width: 500px;
	margin: 0 0 4px 0;
  }
  .lineNum{
  
	font: 1em calibri;
	line-height: 1.8em;
  
  }
  .clueReadOnly
  {
	border-color: rgba(0,0,0,0);
	margin: 0;
	outline: 0;
	color:#303030;
	background:none;
  }
  
  .crossword{
	display: block;  
	background-color: rgb(32,32,32);  
  }
  .square{  
	margin: 0 1px 1px 0;
	display: inline-block;
	position: relative;
	font: 24px Calibri;
	width: 1.25em;
	height: 1.25em;
	line-height: 1.25em;
	vertical-align: top;
  }
  .char:focus{
	-webkit-box-shadow: 0 0 0 2px rgb(0,133,180);
	-moz-box-shadow: 0 0 0 2px rgb(0,133,180);
	box-shadow: inset 0 0 0 2px rgb(0,133,180);  
  }
  .char {
	font-family: sans-serif;
	font-size:24px;
	text-transform: uppercase;
	outline: 0;
	border: 0;
	padding: 0;
	margin: 1px 0 0 -1px;
	width: 1.25em;
	height: 1.25em;
	text-align: center;
	background-color: rgb(200, 200, 200);  
  }
  .charReadOnly:focus{
	-webkit-box-shadow: 0 !important;
	-moz-box-shadow: 0 !important;
	box-shadow: 0 !important;
	
  border-color: rgba(0,0,0,0);
	margin: 0;
	outline: 0;
	color:#303030; 
  }
  
  .num{
	position: absolute;
	top: 0; left: 0;
	text-align: left;
	color: rgb(0,0,0);
	font-size: 0.5em;
	line-height: 1em;
	pointer-events:none;
  }
  
  .hide{
	visibility: hidden;
  }
  .disabled{
	display: none !important;
  }
  
  .btn:hover{
	cursor: pointer;
	background-color: rgb(150,150,150);
  }
  
  #btnCheck {
	  position: absolute;
	  right: 2rem;
	  top: 1rem;
	  cursor: pointer;
  }
  
  #btnReset {
	  position: absolute;
	  left: 2rem;
	  top: 1rem;
	  cursor: pointer;
  }